
₹
.E_head
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    font-size: 35px;
    text-decoration: none;
    color:black;
    
    
}

.f11
{
    font-size: 11px;
}

.f15
{
    font-size: 15px;
    font-weight: bold;
}

.E_font
{
    font-family: Arial, Helvetica, sans-serif;
    
    color: white;
    
}
.E_fontb
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color:darkslategrey;
    text-decoration: none;
    
}

.E_deco
{
    text-decoration: none;
}

.body-bg
{
    background-color: #E3E6E6;
}

.divhead
{
    font-family:Arial, sans-serif;
     font-weight: bold; 
     font-size: 22px;

}

.maind
{
    padding: 3px;
}

.img1
{
    width: 100px;
    height: 100px;
}

.subf
{
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.seeall
{
    color:blueviolet;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
